/* Primary colors */
$mainBG:hsl(233, 47%, 7%);
$cardBG:hsl(244, 38%, 16%);
$accent:hsl(244, 38%, 16%);

/* Neutral colors */
$white:hsl(0, 0%, 100%);
$whiteTR:hsla(0, 0%, 100%, 0.75);
$whiteTr:hsla(0, 0%, 100%, 0.6);

/* Fonts */
$fontI:'Inter', sans-serif;
$fontL:'Lexend Deca', sans-serif;

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1, p{
    margin-top: 0;
}

p{
    font-size: 14px;
}
img{
    display: block;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: $mainBG;
}

.card{
    max-width:300px;
    background-color: $cardBG;
    border-radius: 10px;
    &__head{
        border-radius: 10px 10px 0 0;
        background-color:hsla(281, 94%, 27%, 0.782);
    }
    
    .image{
        max-inline-size: 100%;
        background-blend-mode: color;
        opacity: .4;
        border-radius: 10px 10px 0 0;
    }

    &__title{
        font-size: 1.5rem;
        font-family: $fontI;
        width: 80%;
        line-clamp: 3;
        margin-inline: auto;
        margin-top: 2rem;
        color: $white;
        text-align: center;

        span{
            color:rgb(198, 119, 235);
        }
    }

    &__text{
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-family: $fontI;
        color: $whiteTr;
        text-align: center;
        line-height: 1.6;
        margin-inline: auto;
    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li{
            margin-bottom: 1.7rem;

            .top, .bottom{
                display:block;
                text-align: center;
            }
            
            .top{
                font-size: 1.5rem;
                font-family: $fontI;
                font-weight: 700;
                color: $whiteTR;
            }

            .bottom{
                margin-top: 5px;
                font-size: 12px;
                font-family: $fontL;
                text-transform: uppercase;
                color: $whiteTr;
                letter-spacing: 1.7px;
            }
        }
        li:last-child .top{
            text-transform: uppercase;
        }
    }
}

@media (min-width:1500px){

    .card {
        max-width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__head{
            grid-column: 2;
            border-radius: 0 10px 10px 0;
        }

        &__foot{
            grid-column: 1;
            grid-row: 1;

            display: grid;
            grid-template-columns: 13% minmax(80%, 55ch) 7%;
            grid-template-rows:60px 100px 120px 100px;
        }

        &__title, &__text, ul{
            margin: 0;
            grid-column: 2/3;
        }
        &__title {
            font-size: 2rem;
            justify-self: start;
            text-align: left;
            grid-row: 2/3;
        }
        &__text{
            text-align: left;
            grid-row:3/4;
        }

        ul{
            flex-direction: row;
            grid-row: 4;
            justify-content:flex-start;

            li + li{
                margin-left: 3rem;
            }

            li{
                .top, .bottom{
                    text-align: left;
                }
            }


        }
        .image{
            border-radius: 0 10px 10px 0;
        }
    }


}